html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
}

footer {
    position: relative !important;
}

.table-header {
    background-color: darkgray;
    position: sticky;
    top: 0;
}

td.red {
    background-color: red;
}

td.green {
    background-color: green;
}

td.yellow {
    background-color: yellow;
}

td.lightgreen {
    background-color: lightgreen;
}

tr.orange {
    background-color: orange;
}

tr.lightcoral {
    background-color: lightcoral;
}
